/*
css style sheet
*/

.colors {
	float: left;
	background-color: white;
}

p {
	margin-top: 0px;
	margin-bottom: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}

h1 {
	margin-bottom: 5px;
}

#go {
	margin-right: 50px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color: black;
}

#game {
	margin-right: auto;
	margin-left: auto;
	background-color: black;
	position: relative;
	float: left;
	/*
	keep a square
	*/
	height: 400px;
	width: 400px;
	overflow: hidden;
}

#blurb {
	/*width: 400px;*/
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	background-position: left top;
}


body {
	text-align: center;
	background-color: lightgrey;
	background-image: url("http://i.istockimg.com/file_thumbview_approve/56631040/6/stock-illustration-56631040-barren-winter-trees.jpg");
    background-position: center center;
}
#c1, #c2, .ball {
	position: absolute;
	border-radius: 50%;
}

#c1 {
	background-color: green;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
}

#c2 {
	background-color: lightblue;
	left: 100px;
	top: 100px;
	width: 50px;
	height: 50px;
}
